<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="KANKU - Automation System" data-text="Smart Home Dashboard" data-moreinfo="Copyright © Jimmy 2016 - http://luxjim.com"></div>
    </li>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="forecast" data-view="Forecast" data-title="Tétange Weather" ></div>
    </li>	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp1" data-view="Meter" data-title="D-Room T°" data-suffix="°C" data-min="0" data-max="40"></div>
    </li>     

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp2" data-view="Meter" data-title="L-Room T°" data-suffix="°C" data-min="0" data-max="40"></div>
    </li> 
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hum2" data-view="Meter" data-title="L-Room H" data-suffix="%" data-min="0" data-max="100"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hum1" data-view="Meter" data-title="D-Room H" data-suffix="%" data-min="0" data-max="100"></div>
    </li> 	

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug1" data-view="Stswitch" data-icon="plug" data-title="Lulu P1" data-device="Kitchen Switch"></div>
    </li> 
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug2" data-view="Stswitch" data-icon="plug" data-title="Lulu P2" data-device="Bedroom Switch"></div>
    </li> 
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug3" data-view="Stswitch" data-icon="plug" data-title="Lulu P3" data-device="Office Switch"></div>
    </li> 
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sofalamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="L Lamp" data-device="Sofa Lamp"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug4" data-view="Stswitch" data-icon="plug" data-title="Djim P1" data-device="Front Porch Switch"></div>
    </li> 

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug5" data-view="Stswitch" data-icon="plug" data-title="Djim P2" data-device="Garage Switch"></div>
    </li> 
   
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug6" data-view="Stswitch" data-icon="plug" data-title="Djim P3" data-device="Bathroom Switch"></div>
    </li> 
   
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="consolelamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="D Lamp" data-device="Console Lamp"></div>
    </li>
   
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="plug7" data-view="Stswitch" data-icon="plug" data-title="Corridor" ></div>
    </li> 
   
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dininglamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="C Lamp" data-device="Dining Lamp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="caret-square-o-right" data-title="Dashboard 2" data-page="2" data-stagger="false" data-fasttransition="true"></div>
    </li>      
    

  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Dashboard 2" ></div>
    </li>
	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
 </ul>
</div>
